#root {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient( 135deg, #81FFEF 10%, #F067B4 100%);
  }
  
  #drum-machine {
    width: 600px;
    margin: 0 auto;
}
    h1 {
      text-align: center;
    }
    #container {
      display: flex;
    }
  
  #content {
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    padding: 10px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 80px);
    grid-template-rows: repeat(3, 80px);
    grid-gap: 5px;
  }
  
  .drum-pad {
    user-select: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background: teal;
    border: 2px solid salmon;
    border-radius: 30px;
  }
  
  #display {
    padding: 10px;
    height: 100px;
    margin: auto 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    font-size: 1.25rem;
  }
  
  .volume {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  }


  .boton {
    display: flex;
    justify-content: space-between;
background-color: chocolate;
font-size: 15px;
border: 1px solid black;

  }